.container {
  max-width: 500px;
  height: auto;
  margin: 100px auto;
} 

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-box {
  width: 50%;
  height: 25px;
  margin-left: 20px;
}

.submit {
  text-align: center;
  margin-top: 60px;
}

.submit-btn {
  width: 120px;
  padding: 8px 50px;
  background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 20px;
}
