<div class="contents">
  <div class="container">
    <div class="total-charge">
      合計金額
    </div>
    <div class="main-content">
      <div class="error-message">
        <div class="charge-title">
          <ul>
            <li>項目名</li>
            <li>金額</li>
            <li>納期限</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

